[submodule "uemacs"]
	path = uemacs
	url = git://git.kernel.org/pub/scm/editors/uemacs/uemacs.git
[submodule "vim"]
	path = vim
	url = hg::https://vim.googlecode.com/hg/
[submodule "emacs"]
	path = emacs
	url = git://git.savannah.gnu.org/emacs.git
[submodule "elpa"]
	path = elpa
	url = git://git.savannah.gnu.org/emacs/elpa.git
[submodule "brackets"]
	path = brackets
	url = https://github.com/adobe/brackets.git
